/* Essay - Canard HTTPD Template */


@font-face {
	font-family: 'Wolf_in_the_City_Light';
	font-style: normal;
	font-weight: 400;
	src: local('Wolf_in_the_City_Light'), url(./font/Wolf in the City Light.ttf)
}
@font-face {
	font-family: 'master_of_break';
	font-style: normal;
	font-weight: 300;
	src: local('master_of_break'), url(./font/master_of_break.ttf)
}
@font-face {
	font-family: 'ChopinScript';
	font-style: normal;
	font-weight: 300;
	src: local('ChopinScript'), url(./font/ChopinScript.otf)
}
@font-face {
	font-family: 'angelface';
	font-style: normal;
	font-weight: 400;
	src: local('angelface'), url(./font/Angelface.otf)
}
@font-face {
	font-family: 'Distant_Stroke';
	font-style: normal;
	font-weight: 100;
	font-weight: 100;
	src: local('Distant_Stroke'), url(./font/Distant_Stroke.otf)
}
@font-face {
	font-family: 'Indie Flower';
	font-style: normal;
	font-weight: 100;
	font-weight: 100;
	src: local('Indie Flower'), url(./font/IndieFlower.ttf)
}
@font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: 100;
	src: local('Pacifico'), url(./font/Pacifico.ttf)
}
@font-face {
	font-family: 'Dancing Script Bold';
	font-style: bold;
	font-weight: 100;
	src: local('Dancing Script-Bold'), url(./font/DancingScript-Bold.ttf)
}
@font-face {
	font-family: 'Dancing Script';
	font-style: normal;
	font-weight: 100;
	src: local('Dancing Script'), url(./font/DancingScript.ttf)
}
/*@import 'https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico';*/

body {
	background-color : white;
	font-family: 'Pacifico', cursive;
}

/*hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 0, 0), rgba(0, 0, 0, 0));
}*/


header h1 {
	color: black;
	font-size : 3.0em;
	font-family: angelface;
	letter-spacing: 0.3em;
}

.breadcrumb
{ 
	text-align: center;
}
code { 
	font-family: 'Indie Flower', cursive;
}

.main-container {
	padding: 9px;
	border-top: 1px solid #CCCC9C;
	border-left: 1px solid #CCCC9C;
	border-right: 1px solid #353515;
	border-bottom: 1px solid #353515;
	background-color: #fffff1;
	box-shadow : 0 9px 0px 0px rgba(255,255,255,1), 0 9px 0px 0px rgba(255,255,255,1), 7px 0 15px -4px rgba(0, 0, 0, 0.71), -7px 0 15px -4px rgba(0, 0, 0, 0.71);
}
.sub-container {
	border-color: rgb(63, 63, 63);
	border-style: solid;
	border-width: 1px;
	background-color: rgba(179, 164, 164, 0.3);
	border-radius: 4px;
	padding: 4px 14px 4px 14px;
	/*box-shadow: inset 0 0 13px -6px rgb(0, 0, 0);*/
	/*box-shadow: inset 12px 0 15px -4px rgb(0,0,0), inset -12px 0 8px -4px rgb(255,255,255);*/
	box-shadow:
		inset 10px 10px 0px -7px rgba(255,0,0,0.5),
		inset -10px 0px 10px -7px rgba(0,0,0,0.5),
		inset 10px 10px 0px -7px rgba(0,255,0,0.5),
		inset 10px 0px 10px -7px rgba(0,0,0,0.5),
}

