

.body>* {
	margin: 0 auto;
	padding: 0.5em;
}

.body .main-container.container>div.content p>img {
	max-width: 100%;
}

header td.title  {
	text-align: center;
}
a { 
	font-style: normal; 
}

footer {
	font-size: smaller;
}

